import React from 'react';
import PropTypes from 'prop-types';

function {{componentname}}Component(props) {
  return <div>{{componentname}}</div>;
}

{{componentname}}Component.propTypes = {};

export default {{componentname}}Component;
